<div class="container">
  <h1><%= @event.name %></h1>
  <div class="row">
    <div class="col-md-12">
      <%= raw @event.description %>
    </div>
  </div>
  <div class="row">
    <%= render @cart %>
  </div>
</div>