// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#banner {
  height: 438px;
  padding: 140px 0 100px 0;
  color: #F7F7F7;
  font-family: 'Source Sans Pro R',"Helvetica Neue",Helvetica,Arial,sans-serif;
  background: image_url('header.png') no-repeat center bottom;
  background-size:cover;
  h1{
    font-size: 5em;
  }
  h2{
    font-size: 3em;
  }
  h1, h2{
    text-shadow: 0 0 10px #3a3a3a;
  }
}