nav{

  .navbar-brand{
    padding: 10px;
    img{
      max-height: 35px;
    }
  }

  #login-buttons{
    margin-top: 0.85em;
    .btn{
      margin-left: 1em;
    }
  }

}

#page{
  margin-top: 50px;
}